* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #3F8041;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

nav a i {
    margin-right: 8px;
}

nav a:hover {
    background-color: #2de790c3;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header {
    background-color: #0a441a;
    padding: 50px;
    text-align: center;
}

.header h1 {
    color: white;
    font-size: 24px;
}

.subtext {
    margin: 20px;
    text-align: center;
}

.subtext p {
    font-size: 14px;
    color: #666;
}

.gift-section {
    text-align: center;
    margin: 20px;
}

.gift {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gift img {
    width: 50px;
    height: 50px;
}

.gift h2 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.events-section {
    text-align: center;
    margin: 30px auto;
    width: 80%;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter button {
    padding: 10px 15px;
    background-color: #083C16;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter button:hover {
    background-color: #558a5f;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.event {
    background-color: #d6d3d3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.event-list {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
}
